<div id="main" class="clearfix">
    <div id='content' class=''>
    	<ul class="messages">
			<% @message_users.each do |user_message| -%>
			    <li>
			    	<span><img src="<%= User.find(user_message.user_id).image %>"></span>
			        <a href="<%= user_message.id_user_to %>" > <%= User.find(user_message.id_user_to).name %></a>
			    </li>
			<% end -%>
			<% @message_emails.each do |email_message| -%>
			    <li>
			    	<span><img src='../assets/placeholder_user.png'></span>
			        <a href="<%= email_message.email_sending %>" > <%= email_message.email_sending %></a>
			    </li>
			<% end -%>
		</ul>
		<div class="conversation"></div>
    </div>
</div>

<% content_for :footer do -%>
  <%= javascript_include_tag 'application'%>
<% end -%>
