
<% content_for :header do -%>
  <%= stylesheet_link_tag 'jquery.fancybox' %>
<% end -%>
<div id="main" class="clearfix">
    <div id='content' class='profile'>
        <div class='photo'>
            <img src='<%= @profile_user.image %>' height='150'>
        </div>
        <h2 class='clearfix'><%= @profile_user.name %></h2>
            <h3><b>Correo:</b> <%= @profile_user.email %></h3>
            <h3><b>Rating:<%= if @profile_user.total_rating == nil 
                                                  0 
                                                else 
                                                  @profile_user.total_rating
                                                end 
                                            %></h3>
            <h3>Calificado <%= if @profile_user.total_votes == nil 
                                                  0 
                                                else 
                                                  @profile_user.total_votes
                                                end 
                                            %> veces </h3>
            <% if !current_user || current_user.id != @profile_user.id %>
            <a href='#message-box' class='button'>Contactar</a> 
            <% end %>
            <div id="message-box" style="display:none;">
              <% if current_user %>
                  <div class="message-header">
                    <h4 class="title" id="global-tweet-dialog-header">Enviar mensaje a <%= @profile_user.name %></h3>
                  </div>
                  <form method="post" action="/messages/create/<%= @profile_user.id %>">
                    <textarea placeholder="Mensaje" id="message" name="message"></textarea>
                    <input type="submit" class="submit" value = "Enviar">
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                  </form>
              <% else %>
                <div class="message-header">
                   <h4 class="title" id="global-tweet-dialog-header">Enviar mensaje a <%= @profile_user.name %></h3>
                </div>
                <form method="post" action="/messages/create/<%= @profile_user.id %>"> 
                  <input type="text" placeholder="Correo electrónico" id="email" name="email"/>
                  <textarea placeholder="Mensaje" id="message" name ="message"></textarea>
                  <input type="submit" class="submit" value = "Enviar">
                   <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                </form>
              <% end %>
            </div>
            <div class="fb-comments" data-href="http://airmule.herokuapp.com/user/<%= @profile_user.id %>" data-numposts="10" data-colorscheme="light"></div>
</div>

<% content_for :footer do -%>
  <%= javascript_include_tag 'jquery.fancybox'%>
<% end -%>
<script type="text/javascript">
$(document).ready(function() {
  $(".button").fancybox({
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '500px',
    autoHeight : true,
    closeClick  : false,
    padding  : "0",
    openEffect  : 'fade',
    closeEffect : 'fade'
  });
 
});

</script>