
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Airmule</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png"  href="/assets/favicon.png">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <% stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% csrf_meta_tags %>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "cupertino/jquery-ui-1.10.3.custom" %>
  <%= javascript_include_tag "vendor/modernizr-2.6.2.min.js" %>
  <%= yield(:header) %>
  <script>window.jQuery || document.write('<script src="../assets/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.js" %>
  <%= javascript_include_tag "plugins.js" %>
  <%= javascript_include_tag "main.js" %>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '464540060329220',                        // App ID from the app dashboard
      channelUrl : '//WWW.airmule.COM/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script'); 
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());
</script>
   <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
      <h1><a href="/">Airmule</a></h1>
      <div id="user-widget">
        <% if current_user %>
          <div class='logged'>
              <%= link_to "Sign out", signout_path, id: "sign_out",class: "logout" %>
              <% if message_icon_status.state == "UNREAD" %>
                  <div class='inbox unread'>
                <% else %>
                  <div class='inbox'>
                <% end %>
                <a href="/messages/show" data-no-turbolink id= 'inboxthing' class='inbox ir'></a>
              </div>
              <p> <%= current_user.name %> </p>
              <div class='photo'>
                <img src='<%= current_user.image %>' height='40'>
              </div>
              <div class='add-trip'>
                <a href='/trips/new'>Agregar Viaje</a>
              </div>
            </div>
        <% else %>
          <%= link_to "Sign up", "/auth/facebook", id: "sign_in",class:"fb ir" %>
        <% end %>
      </div>

  </header>
  
  <%= yield %>

  <footer></footer>
        
  <%= yield(:footer) %>

</body>
</html>
