
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Airmule</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <% stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% csrf_meta_tags %>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "cupertino/jquery-ui-1.10.3.custom" %>
  <%= javascript_include_tag "vendor/modernizr-2.6.2.min.js" %>

  <script>window.jQuery || document.write('<script src="assets/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.js" %>
  <%= javascript_include_tag "plugins.js" %>
  <%= javascript_include_tag "main.js" %>
</head>
<body>

   <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
      <h1><a href="index.php">Airmule</a></h1>
      <div id="user-widget">
        <% if current_user %>
          <div class='logged'>
            <div class='add-trip'>
              <a href='log_trip.php'>Agregar Viaje</a>
            </div>
            <div class='photo'>
              <img src='<%= current_user.image %>' height='40'></div>
              <p> <%= current_user.name %> </p>
              <div class='inbox'><a href='#' class='inbox ir'></a></div>
              <%= link_to "Sign out", signout_path, id: "sign_out",class: "logout" %>
            </div>
        <% else %>
          <%= link_to "Sign up", "/auth/facebook", id: "sign_in",class:"fb ir" %>
        <% end %>
      </div>

  </header>
  
  <%= yield %>

  <footer></footer>
        
  

</body>
</html>
